<div class="jumbotron">
    <h1>Welcome! Login in to get your daily horoscope.</h1>
    <div class="buttons">
      <a href="/login" button type="button" class="btn btn-outline-light">login</button></a>
    </div>
</div>



