<div class="jumbotron">
    <h2>Welcome! Login in to get your daily horoscope.</h2>
    <div class="buttons">
      <a href="/login" button type="button" class="btn btn-outline-light border border-3 fs-4">login</button></a>
    </div>
</div>



