<div class="row">
  <div class="col">
    <h2>Welcome to your destiny, {{first_name}}!</h2>
  </div>
</div>

<div class="container" id="profile-container">
  <div class="row">
    <div class="card col" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title" id="sign">{{sign}}</h3>
        <p class="card-text fs-4" id="description">{{description}}</p>
      </div>
    </div>
  </div>
</div>