<div class="row">
  <div class="col">
    <h2>Welcome to your destiny, {{first_name}}!</h2>
  </div>
</div>

<div class="container" id="profile-container">
  <div class="row">
    <div class="card col" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title" id="sign">{{sign}}</h5>
        <p class="card-text" id="description">{{description}}</p>
      </div>
    </div>
  </div>
</div>