<div class="row">
  <div class="col">
    <h2>Welcome to your destiny, {{first_name}}!</h2>
  </div>
</div>

<div class="container" id="profile-container">
  <div class="row">
    <div class="card col" style="width: 18rem;">
      <img src="..." id="sign-symbol" class="card-img-top" alt="sign symbol">
      <div class="card-body">
        <h5 class="card-title" id="sign-name"></h5>
        <p class="card-text" id="sign-description"></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" id="sign-dates"></li>
        <li class="list-group-item" id="sign-compatability"></li>
      </ul>
    </div>
  </div>
</div>