#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

header h1{
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 1px 2px #000;
}

h1 {
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 1px 2px #000;
}

header a,
header a:link,
header a:visited,
header a:hover,
header a:active,
a,
button {
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 1px 2px #000;
}

main {
  margin: auto;
}

h2 {
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 1px 2px #000;
  padding-bottom: 50px;
}

#profile-container h3 {
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 20px;
}

.form-group {
  color: #fff;
  font-family: 'Orbitron', sans-serif;
}

form label, form .form-label {
  font-size: x-large;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 1px 2px #000;
}

#profile-container {
  font-family: 'Handlee', cursive;
  opacity: 90%;
}

#loggedin-btns {
  color:#fff;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 1px 2px #000;
  padding: 10px;
}
